apiVersion: v1
clusters:
- cluster:
    certificate-authority: /home/vagrant/.kube/server.ca.crt
    server: "<API_PROTOCOL>://<API_HOST>:<API_PORT>"
  name: minikube
contexts:
- context:
    cluster: minikube
    user: user01
  name: minikube
current-context: minikube
kind: Config
preferences: {}
users:
- name: <USER>
  user:
    token: <TOKEN>
    ca.crt: <CACRT>
